header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: wheat;
    #navigation {
        font-size: 16px;
        font-weight: 700;
        margin: auto 0;
    }
}
